<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # check existing files (uncomment to allow direct access from url to a specific file)
    RewriteCond %{REQUEST_FILENAME} !-f

    #everything else goes to index.php
    RewriteRule ^(.*)$ public/app.php [L,QSA]
</IfModule>

<files .htaccess>
    order allow,deny
    deny from all
</files>
